password = "secret123"
eval("print(1)")
http.get("http://example.com")
import os
os.system("rm -rf /")
import pickle
pickle.loads(b"malicious")
# Simulate large file
{{ '{{' }}% for i in range(200000) %{{ '}}' }}
# Comment line {{ '{{' }} i {{ '}}' }}
{{ '{{' }}% endfor %{{ '}}' }}