[Service]
Type=simple
ExecStart=/opt/linux-sentinel/linux-sentinel
User=root
Group=nogroup
StandardOutput=journal
StandardError=journal
Restart=on-failure

LimitMEMLOCK=infinity
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_ADMIN CAP_BPF CAP_PERFMON CAP_SYS_RESOURCE CAP_DAC_READ_SEARCH CAP_SYS_PTRACE

ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM