fastapi
uvicorn[standard]
aiofiles
jinja2
responses
pytest
pytest-flake8
pytest-pep8
pytest-cov
mock
python-multipart
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
