[main]
homePath = $SPLUNK_DB/main/db
coldPath = $SPLUNK_DB/main/colddb
thawedPath = $SPLUNK_DB/main/thaweddb
maxTotalDataSizeMB = {{ indexing_volume * 1000 }}
frozenTimePeriodInSecs = 2592000

[_internal]
homePath = $SPLUNK_DB/_internal/db
coldPath = $SPLUNK_DB/_internal/colddb
thawedPath = $SPLUNK_DB/_internal/thaweddb
maxTotalDataSizeMB = 5000
frozenTimePeriodInSecs = 2592000