[settings]
enableSplunkWebSSL = true
privKeyPath = {{ splunk_home }}/etc/auth/splunkweb/privkey.pem
serverCert = {{ splunk_home }}/etc/auth/splunkweb/cert.pem
httpport = {{ splunk_web_port }}
mgmtHostPort = {{ splunk_bind_ip }}:{{ splunk_port }}
loginTimeout = 15m
passwordPolicy = strong