## Global ZeekControl configuration file

[Mail Options]
MailTo = disabled  # Email notifications disabled by default
MailConnectionSummary = 0
MinDiskSpace = 0
MailHostUpDown = 0

[Logging Options]
LogRotationInterval = 86400  # 24 hours
LogExpireInterval = 0
StatsLogEnable = 1
StatsLogExpireInterval = 0

[Other Options]
StatusCmdShowAll = 0
CrashExpireInterval = 0
SitePolicyScripts = local.zeek
LogDir = /usr/local/zeek/logs
SpoolDir = /usr/local/zeek/spool
CfgDir = /usr/local/zeek/etc

[Interface Setup]
interfacesetup.enabled=1
interfacesetup.flags_command=/sbin/ethtool -K {interface} rx off tx off sg off tso off ufo off gso off gro off lro off