GITEA_SUBNET=172.20.0.0/16
GITEA_GATEWAY=172.20.0.1
POSTGRESQL_IPv4=172.20.0.2
BACKUP_POSTGRESQL_IPv4=172.20.0.3
GITEA_IPv4=172.20.0.4
POSTGRESQL_USERNAME={{ postgresql_username }}
POSTGRESQL_PASSWORD={{ postgresql_password }}
POSTGRESQL_DATABASE={{ postgresql_database }}
POSTGRESQL_REPLICATION_USER={{ postgresql_replication_user }}
POSTGRESQL_REPLICATION_PASSWORD={{ postgresql_replication_password }}
GITEA_DOMAIN={{ gitea_domain }}
GITEA_SSH_DOMAIN={{ gitea_ssh_domain }}
GITEA_ROOT_URL={{ gitea_root_url }}
GITEA_ADMIN_USER={{ gitea_admin_user }}
GITEA_ADMIN_PASSWORD={{ gitea_admin_password }}
GITEA_ADMIN_EMAIL={{ gitea_admin_email }}
GITEA_SSH_PORT={{ gitea_ssh_port }}
GITEA__security__INSTALL_LOCK=true
GITEA__service__DISABLE_REGISTRATION=true
GITEA__picture__DISABLE_GRAVATAR=true