<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<match haproxy.**>
  @type opensearch
  host {{ opensearch_host | default('opensearch') }}
  port {{ opensearch_port | default(9200) }}
  index_name haproxy-logs
  type_name _doc
  include_timestamp true
</match>