apiVersion: v1
kind: Service
metadata:
  name: haproxy
  namespace: default
spec:
  selector:
    app: haproxy
  ports:
  {% for service in services | default([{'name': 'default', 'backend': 'localhost', 'port': 8080}]) %}
  - name: {{ service.name }}-port
    port: {{ service.port }}
    targetPort: {{ service.port }}
    protocol: TCP
  {% endfor %}
  type: LoadBalancer