apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: rudderstack-policy
  namespace: {{ namespace }}
spec:
  podSelector:
    matchLabels:
      app: rudderstack
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: rudder-transformer
      namespaceSelector: {}
    ports:
    - protocol: TCP
      port: 8080
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: rudder-transformer
      namespaceSelector: {}
    ports:
    - protocol: TCP
      port: 9090
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
    ports:
    - protocol: TCP
      port: 8080  # Prometheus
    - protocol: TCP
      port: 24224  # Fluentd