apiVersion: v1
kind: Secret
metadata:
  name: rudderstack-secrets
  namespace: {{ namespace }}
type: Opaque
data:
  workspace-token: {{ workspace_token | b64encode }}
  postgres-user: {{ "rudder" | b64encode }}
  postgres-password: {{ postgres_password | b64encode }}
  postgres-database: {{ "rudderstack" | b64encode }}