VCENTER_HOST=vcenter.example.com
VCENTER_USER=admin@vsphere.local
VCENTER_PASSWORD=your_password
DATACENTER=Datacenter
CLUSTER=Cluster
DATASTORE=datastore1
TEMPLATE=ubuntu-template
SSH_USER=ubuntu
SSH_KEY=~/.ssh/id_rsa

ELASTIC_VERSION=9.2.0
ELASTIC_PASSWORD=your_elastic_pass
KIBANA_SYSTEM_PASSWORD=your_kibana_pass